body{
    margin: 0;
    padding: 0;
    background: url(arka_plan.jpg);
    background-size: cover;
}

.box{
    width: 30rem;
    background: #fff;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    font-family: sans-serif;
}

.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.4s;
    cursor: pointer;
}

.box img:hover{
    transform: scale(0.9);
}

.box h1{
    font-size: 40px;
    letter-spacing: 0.2px;
    font-weight: 100;
}

.box h5{
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1px;
}

.box p{
    font-size: 23px;
    text-align: center;
}


ul{
    margin: 1;
    padding: 1;
}

.box li{
    display: inline-block;
    margin: 15px;
    list-style: none;
}


.box li a{
    color: black;
    font-size: 70px;
    transition: all ease-in-out 250ms;
}


.box li a:hover{
    color: white;
}
